input[type=text] {
    height: 30px;
    margin: 5px;
    background-color: var(--bg-menu);
    border: none;
    color: white;
    width: 300px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  
  input[type=text]:focus {
    width: 320px;
  }